<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{form.main.title}" >main title</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container" id="main">
    <form id="main-form">

        <div class="card mb-auto ">
            <h3 class="title fw-bold text-success shadow-none text-center" th:text="#{form.main.title}">main title</h3>
            <div class="card card-body p-3 bg-light" id="mainForm">
                <img th:src="@{img/lib.png}"  class="rounded-5 mx-auto d-block" width="555px"/>
            </div>

        </div>

    </form>
</div>

</body>
</html>